@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.keep {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
  margin-top: 1em;
}

.img-keep:hover {
  opacity: 0.75;
  cursor: zoom-in;
}

.img-keep {
  border-radius: 1em;
  bottom: 0em;
}


.modal-img:hover {
  opacity: 0.75;
}

.height {
  max-height: 2em;
}

.hover-color {
  color: red;
}

h1 {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h3 {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h4 {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h5 {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h6 {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

span {
  font-family: 'M PLUS Rounded 1c', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.bg-shadow {
  position: absolute;
  bottom: 0em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.72));
  width: 100%;
  height: 50%;
}


// Medium + screens
@media only screen and (min-width: 768px) {
  .masonary {
    columns: 6;
    column-width: 20%;
    margin: 2em;

    div {
      break-inside: avoid;
    }
  }

  .modal-img {
    object-fit: cover;
    max-height: 60vh;
    width: 100%;
    border-start-start-radius: 0.3em;
  }

  .profile-keep-img {
    height: 2em;
    width: auto;
    border-radius: 50%;
    // visibility: hidden;
  }

  .keep-title {
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px black;
    // visibility: hidden;
  }

  .profile-keep-img {
    :hover {
      visibility: visible;
    }
  }

  .keep-title {
    :hover {
      visibility: visible;
    }
  }
}

// Small Screens
@media only screen and (max-width: 768px) {
  .masonary {
    columns: 2;
    column-width: 20%;
    margin: 2em;

    div {
      break-inside: avoid;
    }
  }

  .modal-img {
    object-fit: cover;
    max-height: 20vh;
    width: 100%;
    border-start-start-radius: 0.3em;
  }

  .profile-keep-img {
    height: 2em;
    width: auto;
    border-radius: 50%;
  }

  .keep-title {
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px black;
  }
}